#bodyIndex{ 
    /* migrado ok */
    background-image: url("imagenprincipal.jpg");
    /* background-color:rgb(248, 229, 233); */
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    border: 0;
}

#h1Index{
    /* migrado ok */
    color: tomato;
    display: inline-block;
    font-style:normal;
    font-weight:bold;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 5px;
    justify-content: center;
    align-content: center;
    margin-bottom: 0;
}

#h3Index{
    /* migrado ok */
    color:purple;
    font-style:normal;
    font-weight:bold;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-top: 0;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

#logoIndex{
    /* migrado ok */
    display: inline-block;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 5px;
    justify-content: center;
    align-content: center;
}

#menuIndex{
    /* migrado ok */
    /* justify-content: center; */
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#parrafoIndex{
    /* migrado ok */
    color:green;
    font-style:normal;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-transform:none;
    line-height: normal;
    text-decoration: none;
    margin:30px;
}

#imagenSectionIndex{
    /* migrado ok */
    height: 500px;
    margin-left: 300px;
    display: flex;
}


#footerIndex{
    /* migrado ok */
    margin:0px;
    text-align: center;
    height: 100px;
    border: 0;
    color: purple;
    padding-top: 20px;
}

@media only screen and ( max-width:768px){
    /* migrado ok */
    #logoIndex{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    
    #menuIndex{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

