// INICIO SCSS INDEX
#grilla {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
                        "header"
                        "nav"
                        "section"
                        "footer";       
}

.bodyIndex{
    background-image: url("indexBody.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    border: 0;
}

.headerIndex{

    &__logo{
        display: inline-block;
        margin-left: 200px;
        margin-right: 50px;
        margin-top: 5px;
        justify-content: center;
        align-content: center;
    }

    &__h1{
        color: tomato;
        display: inline-block;
        font-style:normal;
        font-weight:bold;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
        word-spacing: 5px;
        justify-content: center;
        align-content: center;
        margin-bottom: 0;
        margin: 10px;
        margin-left: 80px;
        margin-top: 20px;
    }

    &__h3{
        color:purple;
        font-style:normal;
        font-weight:bold;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 3px;
        word-spacing: 3px;
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }
}

.navIndex{
    background-color: white;
    text-align: center;
    align-content: center;
    text-align: center;

    &__Menu{
        justify-content: center;
        align-content: center;
        text-align: center;

        &__ul{
            list-style-type:lower-greek;
            margin: 30;
            padding: 0%;

            &__li{
                color:purple;
                display: inline-block;
                width: 18%;
                height: 100%;
                position: relative;
                text-align: center;
                // padding-top: 5px;

                // &__now{
                //     background-color: white;
                //     color:gray;
                // }

                a{
                    background-color: white;
                    color:purple;
                    text-decoration: none;
                }
            }
        
            &__li:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

.sectionIndex{
    background-color:rgb(245, 241, 233);
    padding: 20px;

    &__h3{
        @extend .headerIndex__h3;
    }

    &__Parrafo{
        color:green;
        font-style:normal;
        font-weight: normal;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform:none;
        line-height: normal;
        text-decoration: none;
        margin:30px;
    }

    &__Imagen{
        height: 500px;
        margin-left: 300px;
        display: flex;
    }
}

// Letra Carrousel
h5{
    color: black;
}

.footerIndex{
    margin:0px;
    text-align: center;
    height: 100px;
    border: 0;
    color: purple;
    padding-top: 20px;
}

@media (max-width:768px) and (min-width:480px){

    .headerIndex__logo{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    
    .navIndex{
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #grilla {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 20vh 20vh 40vh 20vh;
        grid-template-areas:
                            "header"
                            "nav"
                            "section"
                            "footer";       
    }
}
// FIN SCSS INDEX


// INICIO SCSS ROPA
.bodyRopa{
    background-color:rgb(248, 229, 233);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
}

.headerRopa{
    height: 30%;
    background-image: url(ropaHeader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    

    &__HomeLogo{
        display: inline-block;
        margin-left: 100px;
        margin-right: 50px;
        margin-top: 5px;
        justify-content: center;
        align-content: center;
    }

    &__h1{
        display: inline-block;
        color: #dd1cbf;
        padding-left: 200px;
        font-style:normal;
        font-weight:bold;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
        word-spacing: 5px;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 0;
    }

    &__h3{
        color:blue;
        font-style:normal;
        font-weight:bold;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 3px;
        word-spacing: 3px;
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }

    &__HomeLink{
        display:block ;
        background-color: white;
        padding-left: 40px;
    }
}

.navRopa{
    background-color: white;
    text-align: center;
    align-content: center;
    text-align: center;

    &__Menu{
        justify-content: center;
        align-content: center;
        text-align: center;

        &__ul{
            list-style-type:lower-greek;
            margin: 30;
            padding: 0%;

            &__li{
                color:purple;
                display: inline-block;
                width: 18%;
                height: 100%;
                position: relative;
                text-align: center;

                a{
                    background-color: white;
                    color:purple;
                    text-decoration: none;
                }
            }
        
            &__li:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

.sectionRopa{
    background-color:rgb(245, 241, 233);
}

@media (max-width:768px) and (min-width:480px){

    .headerRopa__HomeLogo{
        margin-left: 100px;
        display: flex;
    }
    
    .headerRopa__h1{
        padding-left: 100px;
        display: flex;
    }
}

.footerRopa{
    margin:0px;
    text-align: center;
    height: 100px;
    border: 0;
    padding-top: 20px;
}


// FIN SCSS ROPA


// INICIO SCSS ACCESORIOS
.bodyAccesorios{
    background-color:rgb(248, 222, 206);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;  
}

.headerAccesorios{
    height: 30%;
    background-image: url(accesoriosHeader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    &__HomeLogo{
        display: inline-block;
        margin-left: 200px;
        margin-right: 50px;
        margin-top: 5px;
        justify-content: center;
        align-content: center;
    }

    &__h1{
        display: inline-block;
        color: #eaa64f;
        padding-left: 50px;
        font-style:normal;
        font-weight:bold;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
        word-spacing: 5px;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 0;
    }

    &__h3{
        color:blue;
        font-style:normal;
        font-weight:bold;
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 3px;
        word-spacing: 3px;
        margin-top: 0;
        justify-content: center;
        align-content: center;
    }

    &__HomeLink{
        display:block ;
        background-color: white;
        padding-left: 40px;
    }
}

.navAccesorios{
    background-color: white;
    text-align: center;
    align-content: center;
    text-align: center;

    &__Menu{
        justify-content: center;
        align-content: center;
        text-align: center;

        &__ul{
            list-style-type:lower-greek;
            margin: 30;
            padding: 0%;

            &__li{
                color:purple;
                display: inline-block;
                width: 18%;
                height: 100%;
                position: relative;
                text-align: center;

                a{
                    background-color: white;
                    color:purple;
                    text-decoration: none;
                }
            }
        
            &__li:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

.sectionAccesorios{
    background-color:rgb(245, 241, 233);
}

// Cards
h5{
    text-align: center;
}

.card-text{
    text-align: center;
}
// Cards

.footerAccesorios{
    margin:0px;
    text-align: center;
    height: 100px;
    border: 0;
    padding-top: 20px;
}
// FIN SCSS ACCESORIOS


// INICIO SCSS MAQUILLAJES Y COSMÉTICOS
.bodyMyC{
    background-color:rgb(229, 247, 246);
}

.headerMyC{
    height: 30%;
    background-image: url(mycHeader.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    &__HomeLogo{
        display: inline-block;
        margin-left: 100px;
        margin-right: 50px;
        margin-top: 5px;
        justify-content: center;
        align-content: center;
    }

    &__h1{
        display: inline-block;
        color: #0b85f1;
        padding-left: 0;
        font-style:normal;
        font-weight:bold;
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 5px;
        word-spacing: 5px;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-bottom: 0;
    }
}

.navMyC{
    background-color: white;
    text-align: center;
    align-content: center;
    text-align: center;

    &__Menu{
        justify-content: center;
        align-content: center;
        text-align: center;

        &__ul{
            list-style-type:lower-greek;
            margin: 30;
            padding: 0%;

            &__li{
                color:purple;
                display: inline-block;
                width: 18%;
                height: 100%;
                position: relative;
                text-align: center;

                a{
                    background-color: white;
                    color:purple;
                    text-decoration: none;
                }
            }
        
            &__li:hover{
                background-color: black;
                color: white;
            }
        }
    }
}

.sectionMyC{
    background-color:rgb(245, 241, 233);
}

.footerMyC{
    margin:0px;
    text-align: center;
    height: 100px;
    border: 0;
    padding-top: 20px;
}
// FIN SCSS MAQUILLAJES Y COSMÉTICOS


// INICIO SCSS CONTACTO
.bodyContacto{
    @extend .bodyRopa;
}

.headerContacto{

    &__HomeLogo{
        @extend .headerRopa__HomeLogo;
    }

    &__h1{
        @extend .headerRopa__h1;
    }

    &__h3{
        @extend .headerRopa__h3;
        margin-left: -200px;
        
    }

    &__HomeLink{
        @extend .headerRopa__HomeLink;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.formularioContacto{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 100px;
}

.footerContacto{
    @extend .footerRopa;
    padding-top: 20px;
}
