#grillaIndex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header" "nav" "section" "footer";
}

.bodyIndex {
  background-image: url("indexBody.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border: 0;
}

.headerIndex__logo {
  display: inline-block;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerIndex__h1 {
  color: tomato;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  word-spacing: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0;
  margin: 10px;
  margin-left: 80px;
  margin-top: 20px;
}

.headerIndex__h3, .sectionIndex__h3 {
  color: purple;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navIndex {
  background-color: white;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navIndex__Menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navIndex__Menu__ul {
  list-style-type: lower-greek;
  margin: 30;
  padding: 0%;
}

.navIndex__Menu__ul__li {
  color: purple;
  display: inline-block;
  width: 18%;
  height: 100%;
  position: relative;
  text-align: center;
}

.navIndex__Menu__ul__li a {
  background-color: white;
  color: purple;
  text-decoration: none;
}

.navIndex__Menu__ul__li:hover {
  background-color: black;
  color: white;
}

.sectionIndex {
  background-color: #f5f1e9;
  padding: 20px;
}

.sectionIndex__Parrafo {
  color: green;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: none;
  line-height: normal;
  text-decoration: none;
  margin: 30px;
}

.sectionIndex__Imagen {
  height: 500px;
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h5 {
  color: black;
}

.footerIndex {
  margin: 0px;
  text-align: center;
  height: 100px;
  border: 0;
  color: purple;
  padding-top: 20px;
}

@media (max-width: 768px) and (min-width: 480px) {
  .headerIndex__logo {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .navIndex {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  #grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 20vh 20vh 40vh 20vh;
        grid-template-rows: 20vh 20vh 40vh 20vh;
        grid-template-areas: "header" "nav" "section" "footer";
  }
}

.bodyRopa {
  background-color: #f8e5e9;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
}

.headerRopa {
  height: 30%;
  background-image: url(ropaHeader.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerRopa__HomeLogo {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerRopa__h1 {
  display: inline-block;
  color: #dd1cbf;
  padding-left: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0;
}

.headerRopa__h3 {
  color: blue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerRopa__HomeLink {
  display: block;
  background-color: white;
  padding-left: 40px;
}

.navRopa {
  background-color: white;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navRopa__Menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navRopa__Menu__ul {
  list-style-type: lower-greek;
  margin: 30;
  padding: 0%;
}

.navRopa__Menu__ul__li {
  color: purple;
  display: inline-block;
  width: 18%;
  height: 100%;
  position: relative;
  text-align: center;
}

.navRopa__Menu__ul__li a {
  background-color: white;
  color: purple;
  text-decoration: none;
}

.navRopa__Menu__ul__li:hover {
  background-color: black;
  color: white;
}

.sectionRopa {
  background-color: #f5f1e9;
}

@media (max-width: 768px) and (min-width: 480px) {
  .headerRopa__HomeLogo {
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerRopa__h1 {
    padding-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footerRopa {
  margin: 0px;
  text-align: center;
  height: 100px;
  border: 0;
  padding-top: 20px;
}

.bodyAccesorios {
  background-color: #f8dece;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.headerAccesorios {
  height: 30%;
  background-image: url(accesoriosHeader.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerAccesorios__HomeLogo {
  display: inline-block;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerAccesorios__h1 {
  display: inline-block;
  color: #eaa64f;
  padding-left: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0;
}

.headerAccesorios__h3 {
  color: blue;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 3px;
  word-spacing: 3px;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerAccesorios__HomeLink {
  display: block;
  background-color: white;
  padding-left: 40px;
}

.navAccesorios {
  background-color: white;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navAccesorios__Menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navAccesorios__Menu__ul {
  list-style-type: lower-greek;
  margin: 30;
  padding: 0%;
}

.navAccesorios__Menu__ul__li {
  color: purple;
  display: inline-block;
  width: 18%;
  height: 100%;
  position: relative;
  text-align: center;
}

.navAccesorios__Menu__ul__li a {
  background-color: white;
  color: purple;
  text-decoration: none;
}

.navAccesorios__Menu__ul__li:hover {
  background-color: black;
  color: white;
}

.sectionAccesorios {
  background-color: #f5f1e9;
}

h5 {
  text-align: center;
}

.card-text {
  text-align: center;
}

.footerAccesorios {
  margin: 0px;
  text-align: center;
  height: 100px;
  border: 0;
  padding-top: 20px;
}

.bodyMyC {
  background-color: #e5f7f6;
}

.headerMyC {
  height: 30%;
  background-image: url(mycHeader.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerMyC__HomeLogo {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.headerMyC__h1 {
  display: inline-block;
  color: #0b85f1;
  padding-left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0;
}

.navMyC {
  background-color: white;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navMyC__Menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navMyC__Menu__ul {
  list-style-type: lower-greek;
  margin: 30;
  padding: 0%;
}

.navMyC__Menu__ul__li {
  color: purple;
  display: inline-block;
  width: 18%;
  height: 100%;
  position: relative;
  text-align: center;
}

.navMyC__Menu__ul__li a {
  background-color: white;
  color: purple;
  text-decoration: none;
}

.navMyC__Menu__ul__li:hover {
  background-color: black;
  color: white;
}

.sectionMyC {
  background-color: #f5f1e9;
}

.footerMyC {
  margin: 0px;
  text-align: center;
  height: 100px;
  border: 0;
  padding-top: 20px;
}

.bodyContacto {
  background-color: #f8c6c6;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
}

.headerContacto {
  background-repeat: no-repeat;
  background-size: 100%;
}

.headerContacto__ImagenPrincipal {
  width: 100%;
  height: 50vh;
}

.navContacto {
  background-color: white;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navContacto__Menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.navContacto__Menu__ul {
  list-style-type: lower-greek;
  margin: 30;
  padding: 0%;
}

.navContacto__Menu__ul__li {
  color: purple;
  display: inline-block;
  width: 18%;
  height: 100%;
  position: relative;
  text-align: center;
}

.navContacto__Menu__ul__li a {
  background-color: white;
  color: purple;
  text-decoration: none;
}

.navContacto__Menu__ul__li:hover {
  background-color: black;
  color: white;
}

.sectionContacto {
  background-color: #f5f1e9;
}

.sectionContacto__HomeLogo {
  display: inline-block;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sectionContacto__h1 {
  display: inline-block;
  color: #f34364;
  padding-left: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0;
}

.sectionContacto__Form {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  padding-right: 150px;
}
/*# sourceMappingURL=estilosass.css.map */